.root {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: transparent;
	-fx-font-family:  "Lato", sans-serif;
	-fx-font-size: 1.3em;
}

/*------------------------- BUTTON STYLE --------------------------- */
.button {
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-text-fill: #fff;
}

.button:hover .image-view {
	-fx-scale-x: 1.05px;
	-fx-scale-y: 1.05px;
}

.button:pressed .image-view {
	-fx-scale-x: 1px;
	-fx-scale-y: 1px;
}

/*------------------------- TOOLTIP STYLE -------------------------- */
.tooltip {
	-fx-font-size: 1.1em;
}

/*----------------------- TEXT FIELD STYLE ------------------------- */
.text-field {
	-fx-background-color: #fff;
	-fx-border-radius: 0px;
	-fx-border-color: #3498db;
	-fx-border-width: 1px;
}

/*-------------------------- LABEL STYLE --------------------------- */
.label {
	-fx-text-fill: #3498db;
}

/*------------------------ CHECK BOX STYLE ------------------------- */
.check-box {
	-fx-text-fill: #3498db;
	-fx-font-size: 15px;
}

.check-box .box {
	-fx-border-radius: 0px;
	-fx-border-color: #3498db;
	-fx-border-width: 1px;
	-fx-background-color: white;
	-fx-background-insets: 0px;
}

.check-box:selected .box {
	-fx-background-color: #3498db;
}

.check-box:selected .mark {
	-fx-background-color: #fff;
}

/*------------------------- COMBOBOX STYLE ------------------------- */
.combo-box-base {
	-fx-accent: #ddd;
	-fx-focus-color: #ddd;
	-fx-background-color: #fff;
	-fx-border-radius: 0px;
	-fx-border-color: #3498db;
	-fx-border-width: 1px;
}

.combo-box-base .list-cell:selected {
	-fx-background-color: #3498db;
	-fx-border-color: #fff;
	-fx-border-width: 0px 1px 0px 0px;
}

.combo-box-base .list-cell:selected .text {
	-fx-fill: #fff;
}

.combo-box-base .arrow-button {
	-fx-background-color: #3498db;
	-fx-border-radius: 0px;
	-fx-border-color: #3498db;
	-fx-border-width: 1px;
	-fx-background-insets: 0px;
}

.combo-box-base .arrow {
	-fx-background-color: #fff;
}

.combo-box-popup .list-view {
    -fx-background-color: #fff;
    -fx-border-color: #3498db;
	-fx-border-width: 1px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
}

.combo-box-base .text-field {
	-fx-border-width: 0px;
}

/*----------------------- RADIO BUTTON STYLE ----------------------- */
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #3498db;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
	-fx-mark-color: #3498db;
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

/*------------------------ TABLE VIEW STYLE ------------------------- */
.table-view {
	-fx-border-width: 0;
	-fx-border-color: #3498db;
	-fx-background-color: #fff;
}

.table-view:focused {
	-fx-background-color: #fff;
}

.table-view .filler {
	-fx-background-color: #3498db;
	-fx-border-color: #fff;
	-fx-border-width: 1;
}

.table-view .column-header-background {
	-fx-border-width: 1;
}

.table-view .column-header-background .label {
	/*-fx-font-size: 16px;*/
	-fx-text-fill: white;
	-fx-alignment: CENTER;
}

.table-view .column-header {
	-fx-background-color: #3498db;
	-fx-border-color: #fff;
	-fx-border-width: 1;
}

 .table-view .table-cell {
	/*-fx-text-fill: -fp-blue-dark;*/
	-fx-border-color: #3498db;
	-fx-border-width: 1;
	/*-fx-padding: 5;*/
}

.table-row-cell {
	-fx-background-color: #fff;
	-fx-font-size: 14px;
}

.table-row-cell:selected {
	-fx-background-color: #eee;
}

.table-row-cell:selected  .text {
	-fx-fill: #000;
}

.table-row-cell:empty {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 0px;
}
 
.table-row-cell:empty .table-cell {
	-fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 0px;
}

/*.list-cell:empty {
    -fx-background-color: #fff;
}
*/

/*------------------------ SCROLLBAR STYLE ------------------------- */
/* http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/ */

/*.scroll-bar:horizontal {
    -fx-opacity: 0;
}*/

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: #fff;
	-fx-border-color: #fff;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0px 0px 10px 0px;

}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0px 10px 0px 0px;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}