.widgetBackground {
	-fx-background-image: url(../images/background.png);
}

.reloadIcon {
	-fx-image: url(../images/reload.png);
}

.settingsIcon {
	-fx-image: url(../images/settings.png);
}

.confirmIcon {
	-fx-image: url(../images/confirm.png);
}

.cancelIcon {
	-fx-image: url(../images/cancel.png);
}