/*------------------------- BUTTON STYLE --------------------------- */
.reloadIcon {
	-fx-image: url(../images/buttons/reload.png);
}

.settingsIcon {
	-fx-image: url(../images/buttons/settings.png);
}

.confirmIcon {
	-fx-image: url(../images/buttons/confirm.png);
}

.cancelIcon {
	-fx-image: url(../images/buttons/cancel.png);
}

.eyeIcon {
	-fx-image: url(../images/buttons/eye.png);
}

.addIcon {
	-fx-image: url(../images/buttons/add.png);
}

.wheelchairIcon {
	-fx-image: url(../images/buttons/wheelchair.png);
}

.trashIcon {
	-fx-image: url(../images/buttons/trash.png);
}

.moveIcon {
	-fx-image: url(../images/buttons/move.png);
}

.arrowIcon {
	-fx-image: url(../images/buttons/arrow.png);
}

.deleteIcon {
	-fx-image: url(../images/buttons/delete.png);
}



/*------------------------- FLAGS STYLE --------------------------- */
.castellanoFlag {
	-fx-image: url(../images/flags/castellano.jpg);
}

.valencianoFlag {
	-fx-image: url(../images/flags/valenciano.jpg);
}

.inglesFlag {
	-fx-image: url(../images/flags/ingles.jpg);
}

/*------------------------- TABS STYLE --------------------------- */

.busIcon {
	-fx-image: url(../images/tab-header/bus.png);
}

.cardIcon {
	-fx-image: url(../images/tab-header/card.png);
}

.favoriteIcon {
	-fx-image: url(../images/tab-header/favorite.png);
}

.languageIcon {
	-fx-image: url(../images/tab-header/language.png);
}

.questionIcon {
	-fx-image: url(../images/tab-header/question.png);
}

.configIcon {
	-fx-image: url(../images/tab-header/config.png);
}