@import url('https://fonts.googleapis.com/css?family=Roboto');

.imagenParada {
    /*position: relative;
    top: 6px;*/
}

.llegadaHome {
	position: relative;
	top: -6px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}