<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		
		<!--RollingFile-->
<!-- 		<RollingFile name="RollingFile" fileName="logs/EMT-widget.log" -->
<!--                  filePattern="logs/$${date:yyyy-MM}/PMUv2-%d{MM-dd-yyyy}-%i.log.gz"> -->
<!--       		<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
<!--       		<Policies> -->
<!--         		<TimeBasedTriggeringPolicy /> -->
<!--         		<SizeBasedTriggeringPolicy size="100 MB"/> -->
<!--       		</Policies> -->
<!--       		<DefaultRolloverStrategy max="10"/> -->
<!--     	</RollingFile>	 -->
		
	</Appenders>
	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
<!-- 			<AppenderRef ref="RollingFile"/> -->
		</Root>
		<logger name="es.tamarit.widgetemt" level="TRACE" />
		<Root level="ERROR">
			<AppenderRef ref="CONSOLE" />
<!-- 			<AppenderRef ref="RollingFile"/> -->
		</Root>
	</Loggers>
</Configuration>